*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-nav{
    text-decoration: none;
}

.form-input{
    padding: 8px;
    margin: 8px;
    width: 315px;
    border: 1px solid black;
    background: #ffffff;
    border-radius: 5px;
}

.container .header .title {
    font-size: 22px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px 0px;
}

.exist-acc {
    text-align: center;
}

.input {
    margin-top: 30px;
}

.submit {
    text-align: center;
    margin-top: 20px;
}

.submit button {
    width: 335px;
    height: 28px;
    background-color: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
}

.header img {
    width: 100px;
    height: 60px;
    margin-left: 34%;
}